body {
    background-image: url('data:image/svg+xml;utf8, <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"><defs><pattern id="smallGrid" width="5" height="5" patternUnits="userSpaceOnUse"><path d="M 10 0 L 0 0 0 10" fill="none" stroke="%23eee" stroke-width="1"/></pattern><pattern id="medSmallGrid" width="10" height="10" patternUnits="userSpaceOnUse"><rect width="100" height="100" fill="url(%23smallGrid)"/><path d="M 10 0 L 0 0 0 10" fill="none" stroke="%23ddd" stroke-width="1" /></pattern><pattern id="medLargeGrid" width="50" height="50" patternUnits="userSpaceOnUse"><rect width="100" height="100" fill="url(%23medSmallGrid)"/></pattern><pattern id="largeGrid" width="100" height="100" patternUnits="userSpaceOnUse"><rect width="100" height="100" fill="url(%23medLargeGrid)"/><path d="M 100 0 L 0 0 0 100" fill="none" stroke="%23ccc" stroke-width="1"/></pattern></defs><rect width="100%" height="100%" fill="url(%23largeGrid)" /></svg>');
    background-repeat: repeat;
}

.plain {
    position: relative;


    .cell {
        box-sizing: border-box;
        width: var(--cell-size);
        height: var(--cell-size);
        background: lightblue;
        position: absolute;
        left: calc(var(--cell-size) * var(--cell-x));
        top: calc(var(--cell-size) * var(--cell-y));
        border: 1px solid rgba(0,0,0,.2);
    }

    .dry {
        background: lime;
        animation: appear 0.1s ease-in;
        animation-direction: forwards;
        transform-origin: 50% 50%;
    }
}

@keyframes appear {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}